<!DOCTYPE html>
<html lang="es-MX">
<head>
	<base href="<%= APP_BASE %>">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= APP_TITLE %></title>
	<meta name="description" content="Empiria Trade: Red de comercio electrónico colaborativo, para el mercado mexicano de autopartes y refacciones automotrices.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="icon" href="assets/images/customer/favicon.ico" type="image/x-icon" />-->

	<link rel="stylesheet" href="assets/css/loading.page.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">

	<!-- inject:css -->
	<!-- endinject -->
</head>

<body>

	<empiria-trade>
		<div class="center">
			<div>
			Empira Trade. Cargando...
				<br /> <br />
			</div>
			<div id="floatingCirclesG">
				<div class="f_circleG" id="frotateG_01"></div>
				<div class="f_circleG" id="frotateG_02"></div>
				<div class="f_circleG" id="frotateG_03"></div>
				<div class="f_circleG" id="frotateG_04"></div>
				<div class="f_circleG" id="frotateG_05"></div>
				<div class="f_circleG" id="frotateG_06"></div>
				<div class="f_circleG" id="frotateG_07"></div>
				<div class="f_circleG" id="frotateG_08"></div>
			</div>
		</div>

	</empiria-trade>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e.stack || e,
        'Report this error at https://github.com/Ontica/Empiria.Trade.WebApp/issues');
    });
  </script>
  <% } %>

</body>
</html>
